@page "/users"
@attribute [Authorize]

<PageHeader Title="@("用户管理")" Subtitle="@($"数量：{this.userrsp.Total}")">
    <PageHeaderExtra>
        <Button @onclick="_=>NewDrawer()">添加用户</Button>
    </PageHeaderExtra>
</PageHeader>

<Table @ref="table" Loading="@isloading" TItem="BsUser" DataSource="@this.userrsp.Value" PageSize="15" Total="@this.userrsp.Total" PageIndexChanged="@PageIndexChange" PageIndex="@pageIndex">
    <PropertyColumn Property="c=>c.UserId" Title="用户ID" />
    <PropertyColumn Title="用户名" Property="c=>c.UserName" />
    @if (this.showFullName)
    {
        <PropertyColumn Title="姓名" Property="c=>c.FullName" />
    }
    <PropertyColumn Title="角色" Property="c=>c.Role" />
    <PropertyColumn Title="添加时间" Property="c=>c.AddTime" Format="yyyy-MM-dd HH:mm:ss" />
    <PropertyColumn Title="最后登录" Property="c=>c.LastLogin" Format="yyyy-MM-dd HH:mm:ss" />
    <PropertyColumn Title="过期时间" Property="c=>c.EndTime" Format="yyyy-MM-dd HH:mm:ss" />
    <PropertyColumn Title="状态" Property="c=>c.Enable" />
    <ActionColumn Title="操作">
        <Space Size="SpaceSize.Middle">
            @if (BsConfig.UserAuthFragment != null)
            {
                <SpaceItem>
                    <a @onclick="async e=>await SetUserAuth(context)">权限</a>
                </SpaceItem>
            }
            <SpaceItem>
                <a @onclick="async e=>await OnEdit(context)">编辑</a>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>

<Drawer Closable="true" Width="480" Visible="@drawerVisible" Title="@editTitle" OnClose="_=>CloseDrawer()">
    <AntDesign.Template style="height:90%">
        <Row>
            <AntDesign.Col Span="24">
                <Text>用户名</Text>
                <Input Placeholder="请输入用户名" TValue="string" @bind-Value="@editUser.UserName" />
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>姓  名</Text>
                <Input Placeholder="请输入姓名" TValue="string" @bind-Value="@editUser.FullName" />
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>密  码</Text>
                <InputPassword Placeholder="请输入密码" TValue="string" @bind-Value="@editUser.Password" />
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>角  色</Text><br />
                <RadioGroup @bind-Value="@editUser.Role" TValue="string">
                    @foreach (var role in BsConfig.Roles)
                    {
                        <Radio Value="@role">@role</Radio>
                    }
                </RadioGroup>
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>过期时间</Text><br />
                <DatePicker @bind-Value="@editUser.EndTime" TValue="DateTime" Format="yyyy/MM/dd">
                </DatePicker>
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>启用</Text><br />
                <Switch @bind-Checked="editUser.Enable" />
            </AntDesign.Col>
        </Row>
        <br />

        <Row>
            <AntDesign.Col Span="24">
                <Button Type="ButtonType.Primary" OnClick="@SaveUser" Style="float:right">保存</Button>
            </AntDesign.Col>
        </Row>
    </AntDesign.Template>
</Drawer>

@if (_userFragment != null)
{
    @_userFragment
}