@page "/users"
@inject MessageService msg
@attribute [Authorize]

<PageHeader Title="@("用户中心")" Subtitle="@($"数量：{this.userrsp.Total}")">
    <PageHeaderExtra>
        <Button @onclick="_=>NewDrawer()">添加用户</Button>
    </PageHeaderExtra>
</PageHeader>

<Table @ref="table" Loading="@isloading" TItem="BsUser" DataSource="@this.userrsp.Value" PageSize="15" Total="@this.userrsp.Total" PageIndexChanged="@PageIndexChange" PageIndex="@pageIndex">
    <PropertyColumn Property="c=>c.UserId" Title="用户ID" />
    <PropertyColumn Title="用户名" Property="c=>c.UserName" />
    <PropertyColumn Title="角色" Property="c=>c.Role"/>
    <PropertyColumn Title="添加时间" Property="c=>c.AddTime" Format="yyyy-MM-dd HH:mm:ss" />
    <PropertyColumn Title="状态" Property="c=>c.Enable"/>
    <ActionColumn Title="操作">
        <Space Size=@("middle")>
            <SpaceItem>
                <a @onclick="async e=>await OnEdit(context)">编辑</a>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>

<Drawer Closable="true" Width="480" Visible="@drawerVisible" Title="@editTitle" OnClose="_=>CloseDrawer()">
    <AntDesign.Template style="height:90%">
        <Row>
            <AntDesign.Col Span="24">
                <Text>用户名</Text>
                <Input Placeholder="请输入用户名" TValue="string" @bind-Value="@editUser.UserName"/>
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>密  码</Text>
                <InputPassword Placeholder="请输入密码" TValue="string" @bind-Value="@editUser.Password" />
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>用户组</Text><br />
                <RadioGroup @bind-Value="@editUser.Role" TValue="string">
                    <Radio Value=@("admin")>管理员</Radio>
                    <Radio Value=@("worker")>操作员</Radio>
                </RadioGroup>
            </AntDesign.Col>
        </Row>
        <br />
        <Row>
            <AntDesign.Col Span="24">
                <Text>启用</Text><br />
                <Switch @bind-Checked="editUser.Enable" />
            </AntDesign.Col>
        </Row>
        <br />

        <Row>
            <AntDesign.Col Span="24">
                <Button Type="ButtonType.Primary" OnClick="@SaveUser" Style="float:right">保存</Button>
            </AntDesign.Col>
        </Row>
    </AntDesign.Template>
</Drawer>