<Dropdown>
    <Overlay>
        <Menu>
            <MenuItem @key="0" OnClick="@OnChangePassword">
                <Icon Type="@IconType.Outline.Setting" />修改密码
            </MenuItem>
            <MenuDivider />
            <MenuItem @key="2" OnClick="@OnLogout">
                <Icon Type="@IconType.Outline.Logout" />退出登录
            </MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <a class="ant-dropdown-link" style="display: flex; align-items: center; height: 32px;">
            <Icon Type="@IconType.Outline.User" style="font-size: 18px; margin-right: 4px;" /> @(string.IsNullOrEmpty(UserService.FullName) ? UserService.UserName : UserService.FullName)
        </a>
    </ChildContent>
</Dropdown>

<ChangePassword IsForceChange=true Tips="修改密码" @bind-Visible="@changepwdVisible" />

<script>
    window.bsLogout = async function (dotNetObj) {
        let success = false;
        let message = "";

        try {
            let response = await fetch('/bsapi/logout', {
                method: 'POST',
                credentials: 'include' // 关键：要能收到 Set-Cookie
            });

            if (response.ok) {
                success = true;
            }
        } catch (err) {
            message = "网络错误：" + err.message;
        }

        if (dotNetObj && dotNetObj.invokeMethodAsync) {
            await dotNetObj.invokeMethodAsync("OnLogoutResult", success, message);
        }
    }
</script>
